<!DOCTYPE html>
<html>
  <head>
    <title>Polaroids Third</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div class="title">
    <h1>Patreon Stuff</h1>
  </div>
  <div class="parent">
    <div class="content">
      <h2>Select the patreon tier you'll be sending polaroids to.</h2>
      <span><em>Note: Once you select the tier, the next page may take a while to load if you have a lot of patrons. This is due to the Patreon API being slow.</em></span>


        <%
        for (let i = 0; i < campaigns.length; i++) {
        %>
      <div class="creator-page">
        <div class="creator-title">
          <h2>Creator Page <%=i+1%>: <%= campaigns[i].title %></h2>
        </div>
        <div class="creator-tier-list">
          <%
          for (var j = 0; j < campaigns[i].tiers.length; j++) {
          %>
          <div class="creator-tier">
            <a href="/list/<%=campaigns[i].id%>/<%=campaigns[i].tiers[j].id%>"><strong><%=campaigns[i].tiers[j].title%></strong> - <%=campaigns[i].tiers[j].amount / 100%> USD</a>
          </div>
          <%
          }
          %>
        </div>
      </div>
        <%
        }
        %>


    </div>
  </div>
  </body>
</html>
